.first{
    background-image: url(Layer2.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    color: white;
}

.second{
    background-image: url(Layer1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    color: white;
}

.third{
    background-image: url(Layer3.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    color: white;
}

.fourth{
  background-image: url(Layer5.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 95vh;
  color: white;
}

.fifth{
  background-image: url(Layer6.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 5vh;
  color: white;
}

.vl {
    border-left: 2px solid white;
    height: 10px;
    padding-right:5px;
    
  }

nav{
    padding-top: 5vh;;
}

.head1{
    padding-top: 20vh;
}

.head2{
    padding-top: 20vh;
}

.head3{
  padding-top: 20vh;
  color: black;
}

.head4{
  padding-top: 15vh;
}


.nav-item{
    color: black;
}

#about{
  width: 100%;
  height: 70px;
  margin-top: 2em;
  margin-bottom: 2em;
}

#name{
  width: 45%;
  height: 40px;
}

#email{
  width: 45%;
  height: 40px;
}

.button{
    background-color: transparent;
    border-color: white !important;
    border: 2.5px solid white;
    color: white;
}

.botarrow{
    padding-top:17vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }

  @media (max-width: 991.98px){
    .botarrow{
        padding-top:5vh;
    }
    .head1{
        margin-top: 12vh;
    }
    .head2{
        padding-top: 10vh;
    }
    .head3{
      padding-top: 10vh;
  }
  .head4{
    padding-top: 10vh;
  }